In [1]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.0.2-cp310-cp310-win_amd64.whl (10.7 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pandrra2\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pandrra2\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pandrra2\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\pandrra2\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\pandrra2\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-2.0.2

In [211]:
import pandas as pd
pd.set_option('display.max_columns', None)

axis_bank_df = pd.read_csv("AXISBANK.csv")
f_axis_bank_df = axis_bank_df[['Date','Symbol','Open','Close','Volume']]
f_axis_bank_df.rename(columns={"Open": "Open_axis","Close": "Close_axis"},inplace= True)

C:\Users\PANDRRA2\AppData\Local\Temp\1\ipykernel_30264\3577112776.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_axis_bank_df.rename(columns={"Open": "Open_axis","Close": "Close_axis"},inplace= True)

In [212]:
f_axis_bank_df_cp = f_axis_bank_df.copy()
f_axis_bank_df_cp['daily_value_axis']= f_axis_bank_df['Close_axis'] * f_axis_bank_df['Volume']
# f_axis_bank_df['daily_value'].astype(int)
f_axis_bank_df_cp

            Date    Symbol  Open_axis  Close_axis    Volume  daily_value_axis
0     2000-01-03   UTIBANK      26.70       26.70    112100        2993070.00
1     2000-01-04   UTIBANK      27.00       26.85    234500        6296325.00
2     2000-01-05   UTIBANK      26.00       26.30    170100        4473630.00
3     2000-01-06   UTIBANK      25.80       25.95    102100        2649495.00
4     2000-01-07   UTIBANK      25.00       24.80     62600        1552480.00
...          ...       ...        ...         ...       ...               ...
5301  2021-04-26  AXISBANK     694.00      700.45  21646184    15162069582.80
5302  2021-04-27  AXISBANK     691.10      699.55  46559967    32571024914.85
5303  2021-04-28  AXISBANK     708.00      708.15  54060587    38283004684.05
5304  2021-04-29  AXISBANK     712.00      719.40  25939327    18660751843.80
5305  2021-04-30  AXISBANK     705.00      714.90  23011654    16451031444.60

[5306 rows x 6 columns]

In [213]:
adani_port_df = pd.read_csv("ADANIPORTS.csv")
f_adani_port_df = adani_port_df[['Date','Symbol','Open','Close','Volume']]
f_adani_port_df.rename(columns={"Open": "Open_adani","Close": "Close_adani"},inplace= True)
f_adani_port_df_cp = f_adani_port_df.copy()
f_adani_port_df_cp.loc[:,'daily_value_adani']  = f_adani_port_df['Close_adani'] * f_adani_port_df['Volume']
f_adani_port_df_cp

C:\Users\PANDRRA2\AppData\Local\Temp\1\ipykernel_30264\2024865042.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_adani_port_df.rename(columns={"Open": "Open_adani","Close": "Close_adani"},inplace= True)

,Date,Symbol,Open_adani,Close_adani,Volume,daily_value_adani
0,2007-11-27,MUNDRAPORT,770.00,962.90,27294366,26281745021.40
1,2007-11-28,MUNDRAPORT,984.00,893.90,4581338,4095258038.20
2,2007-11-29,MUNDRAPORT,909.00,884.20,5124121,4530747788.20
3,2007-11-30,MUNDRAPORT,890.00,921.55,4609762,4248126171.10
4,2007-12-03,MUNDRAPORT,939.75,969.30,2977470,2886061671.00
...,...,...,...,...,...,...
3317,2021-04-26,ADANIPORTS,733.00,730.75,9390549,6862143681.75
3318,2021-04-27,ADANIPORTS,735.00,749.15,20573107,15412343109.05
3319,2021-04-28,ADANIPORTS,755.00,746.25,11156977,8325894086.25
3320,2021-04-29,ADANIPORTS,753.20,746.75,13851910,10343913792.50
3321,2021-04-30,ADANIPORTS,739.00,730.05,12600934,9199311866.70

In [216]:
asian_paints_df = pd.read_csv("ASIANPAINT.csv")
f_asian_paints_df = asian_paints_df[['Date','Symbol','Open','Close','Volume']]
f_asian_paints_df.rename(columns={"Open": "Open_asian","Close": "Close_asian"},inplace= True)
f_asian_paints_df_cp = f_asian_paints_df.copy()
f_asian_paints_df_cp.loc[:,'daily_value_asian_paint']  = f_asian_paints_df['Close_asian'] * f_asian_paints_df['Volume']
f_asian_paints_df_cp

C:\Users\PANDRRA2\AppData\Local\Temp\1\ipykernel_30264\447147429.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_asian_paints_df.rename(columns={"Open": "Open_asian","Close": "Close_asian"},inplace= True)

,Date,Symbol,Open_asian,Close_asian,Volume,daily_value_asian_paint
0,2000-01-03,ASIANPAINT,370.00,381.65,3318,1266314.70
1,2000-01-04,ASIANPAINT,380.00,385.55,4818,1857579.90
2,2000-01-05,ASIANPAINT,371.50,383.00,2628,1006524.00
3,2000-01-06,ASIANPAINT,384.90,377.50,3354,1266135.00
4,2000-01-07,ASIANPAINT,376.00,385.70,9589,3698477.30
...,...,...,...,...,...,...
5301,2021-04-26,ASIANPAINT,2530.00,2557.90,1103980,2823870442.00
5302,2021-04-27,ASIANPAINT,2545.00,2574.35,866331,2230239209.85
5303,2021-04-28,ASIANPAINT,2588.00,2614.55,1065561,2785962512.55
5304,2021-04-29,ASIANPAINT,2630.00,2613.45,1295346,3385322003.70
5305,2021-04-30,ASIANPAINT,2595.00,2536.40,1384907,3512678114.80

In [219]:
df = pd.concat([f_axis_bank_df_cp.set_index('Date'),f_adani_port_df_cp.set_index('Date'),f_asian_paints_df_cp.set_index('Date')], axis=1,join='inner').reset_index()
df

,Date,Symbol,Open_axis,Close_axis,Volume,daily_value_axis,Symbol,Open_adani,Close_adani,Volume,daily_value_adani,Symbol,Open_asian,Close_asian,Volume,daily_value_asian_paint
0,2007-11-27,AXISBANK,942.00,932.10,439210,409387641.00,MUNDRAPORT,770.00,962.90,27294366,26281745021.40,ASIANPAINT,1000.00,998.15,6874,6861283.10
1,2007-11-28,AXISBANK,943.00,905.70,390065,353281870.50,MUNDRAPORT,984.00,893.90,4581338,4095258038.20,ASIANPAINT,961.00,1006.45,276384,278166676.80
2,2007-11-29,AXISBANK,924.90,918.85,669531,615198559.35,MUNDRAPORT,909.00,884.20,5124121,4530747788.20,ASIANPAINT,1010.00,998.10,153418,153126505.80
3,2007-11-30,AXISBANK,917.05,930.65,708034,658931842.10,MUNDRAPORT,890.00,921.55,4609762,4248126171.10,ASIANPAINT,999.00,990.00,429445,425150550.00
4,2007-12-03,AXISBANK,936.15,942.35,362046,341174048.10,MUNDRAPORT,939.75,969.30,2977470,2886061671.00,ASIANPAINT,991.00,986.60,15799,15587293.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,2021-04-26,AXISBANK,694.00,700.45,21646184,15162069582.80,ADANIPORTS,733.00,730.75,9390549,6862143681.75,ASIANPAINT,2530.00,2557.90,1103980,2823870442.00
3318,2021-04-27,AXISBANK,691.10,699.55,46559967,32571024914.85,ADANIPORTS,735.00,749.15,20573107,15412343109.05,ASIANPAINT,2545.00,2574.35,866331,2230239209.85
3319,2021-04-28,AXISBANK,708.00,708.15,54060587,38283004684.05,ADANIPORTS,755.00,746.25,11156977,8325894086.25,ASIANPAINT,2588.00,2614.55,1065561,2785962512.55
3320,2021-04-29,AXISBANK,712.00,719.40,25939327,18660751843.80,ADANIPORTS,753.20,746.75,13851910,10343913792.50,ASIANPAINT,2630.00,2613.45,1295346,3385322003.70
3321,2021-04-30,AXISBANK,705.00,714.90,23011654,16451031444.60,ADANIPORTS,739.00,730.05,12600934,9199311866.70,ASIANPAINT,2595.00,2536.40,1384907,3512678114.80

# EquityCurve

In [127]:
df['equity_curve']=df[['daily_value_axis','daily_value_adani','daily_value_asian_paint']].sum(axis=1)
pd.set_option('display.float_format','{:.2f}'.format)

In [129]:
df

,Date,Symbol,Open,Close,Volume,daily_value_axis,Symbol,Open,Close,Volume,daily_value_adani,Symbol,Open,Close,Volume,daily_value_asian_paint,equity_curve
0,2007-11-27,AXISBANK,942.00,932.10,439210,409387641.00,MUNDRAPORT,770.00,962.90,27294366,26281745021.40,ASIANPAINT,1000.00,998.15,6874,6861283.10,26697993945.50
1,2007-11-28,AXISBANK,943.00,905.70,390065,353281870.50,MUNDRAPORT,984.00,893.90,4581338,4095258038.20,ASIANPAINT,961.00,1006.45,276384,278166676.80,4726706585.50
2,2007-11-29,AXISBANK,924.90,918.85,669531,615198559.35,MUNDRAPORT,909.00,884.20,5124121,4530747788.20,ASIANPAINT,1010.00,998.10,153418,153126505.80,5299072853.35
3,2007-11-30,AXISBANK,917.05,930.65,708034,658931842.10,MUNDRAPORT,890.00,921.55,4609762,4248126171.10,ASIANPAINT,999.00,990.00,429445,425150550.00,5332208563.20
4,2007-12-03,AXISBANK,936.15,942.35,362046,341174048.10,MUNDRAPORT,939.75,969.30,2977470,2886061671.00,ASIANPAINT,991.00,986.60,15799,15587293.40,3242823012.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,2021-04-26,AXISBANK,694.00,700.45,21646184,15162069582.80,ADANIPORTS,733.00,730.75,9390549,6862143681.75,ASIANPAINT,2530.00,2557.90,1103980,2823870442.00,24848083706.55
3318,2021-04-27,AXISBANK,691.10,699.55,46559967,32571024914.85,ADANIPORTS,735.00,749.15,20573107,15412343109.05,ASIANPAINT,2545.00,2574.35,866331,2230239209.85,50213607233.75
3319,2021-04-28,AXISBANK,708.00,708.15,54060587,38283004684.05,ADANIPORTS,755.00,746.25,11156977,8325894086.25,ASIANPAINT,2588.00,2614.55,1065561,2785962512.55,49394861282.85
3320,2021-04-29,AXISBANK,712.00,719.40,25939327,18660751843.80,ADANIPORTS,753.20,746.75,13851910,10343913792.50,ASIANPAINT,2630.00,2613.45,1295346,3385322003.70,32389987640.00
3321,2021-04-30,AXISBANK,705.00,714.90,23011654,16451031444.60,ADANIPORTS,739.00,730.05,12600934,9199311866.70,ASIANPAINT,2595.00,2536.40,1384907,3512678114.80,29163021426.10

# simple strategy

In [220]:
df_cp = df.copy()
df_cp['Date'] = pd.to_datetime(df_cp['Date'])

In [221]:
df_cp= df_cp.sort_values('Date')

In [222]:
start_date = pd.to_datetime('2020-10-01')

In [223]:
back_Date = start_date - pd.DateOffset(days=150)
back_Date

Timestamp('2020-05-04 00:00:00')

In [224]:
df_cp = df_cp[(df_cp['Date'] >= back_Date) & (df_cp['Date'] < start_date)]

In [226]:
df_cp[' adani Performce in %'] = (df_cp['Close_adani'] - df_cp['Open_adani'])/100
df_cp[' axis Performce in %'] = (df_cp['Close_axis'] - df_cp['Open_axis'])/100
df_cp[' asian Performce in %'] = (df_cp['Close_asian'] - df_cp['Open_asian'])/100

In [229]:
df_best = df_cp.groupby('Symbol')['axis Performce in %'].mean().reset_index()

ValueError: Grouper for 'Symbol' not 1-dimensional

In [206]:
df_best = df.sort_values('Performce in %',ascending=False)

In [208]:
df_asian.head(10)

,Date,Symbol,Open,Close,Volume,daily_value_asian_paint,Performce in %
3100,2012-05-31,ASIANPAINT,3800.00,4021.55,386116,1552784799.80,2.22
3224,2012-11-29,ASIANPAINT,4115.00,4319.80,218693,944710021.40,2.05
3384,2013-07-18,ASIANPAINT,5016.00,5213.10,182593,951875568.30,1.97
3383,2013-07-17,ASIANPAINT,4830.00,5011.55,147871,741062910.05,1.82
3293,2013-03-07,ASIANPAINT,4425.05,4585.45,97784,448383642.80,1.60
2739,2010-12-21,ASIANPAINT,2764.80,2916.20,172333,502557494.60,1.51
3330,2013-05-06,ASIANPAINT,4705.25,4855.95,89446,434345303.70,1.51
5033,2020-03-25,ASIANPAINT,1446.55,1593.15,2196424,3499232895.60,1.47
2868,2011-06-27,ASIANPAINT,2968.70,3114.20,104335,324920057.00,1.46
3238,2012-12-19,ASIANPAINT,4295.50,4429.85,80640,357223104.00,1.34